langchain
langchain-huggingface
langchain-core
langchain_community
docx2txt
pypdf
langchain_chroma
python-multipart
fastapi
uvicorn
transformers
torch
sentence_transformers
huggingface_hub
bs4
unstructured # core dependency for UnstructuredPDFLoader
unstructured[pdf] # for PDF processing
# pytesseract  # processing scanned or image-based PDFs with OCR
# poppler-utils # processing scanned or image-based PDFs for image conversion.
python-docx
unstructured[doc] # for .doc file processing
python-magic-bin # for .doc file processing
