--index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
langchain
langchain-huggingface
langchain-core
langchain_community
langchain_chroma
docx2txt
pypdf
python-multipart
fastapi
uvicorn
transformers
sentence_transformers
huggingface_hub
bs4
unstructured # core dependency for UnstructuredPDFLoader
unstructured[pdf] # for PDF processing
unstructured[doc] # for .doc file processing
# python-magic-bin # for .doc file processing
PyPDF2
docx
easyocr
pdf2image
PyMuPDF  # pdf2image dependency
olefile
docx2pdf
