langchain
langchain-huggingface
langchain-core
langchain-community
langchain-chroma
docx2txt
python-multipart
fastapi
uvicorn
gunicorn
transformers
sentence-transformers
huggingface-hub
beautifulsoup4
unstructured[pdf,docx]
pdf2image
olefile
easyocr

